.btn {
    text-align: center;
    width: 100%;
    padding: 10px;
    /*border-radius: 3px;*/
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.btn:hover {
    opacity: 1;
}

.btn-microsoft {
    background-color: #ffffff;
    color: #2f2f2f;
    border: 2px solid #2f2f2f;
}

.btn-google {
    background-color: #4285f4;
    color: white;
    border: 2px solid #4285f4;
}

.btn-apple {
    background-color: #000000;
    color: white;
    border: 2px solid #000000;
}
